{#
/**
 * @file
 * Default EPT Settings implementation for EPT Block.
 *
 * Available variables
 * - ept_settings: A list of EPT Block settings.
 *
 * @see template_preprocess_ept_settings_default()
 *
 * @ingroup themeable
 */
#}
{% for key, setting in ept_settings %}
  {% if setting is iterable %}
    {% for child_key, child_setting in setting %}
      {% if child_setting is not iterable %}
        <div>{{ child_key }}: {{ child_setting }}</div>
      {% endif %}
    {% endfor %}
  {% else %}
    <div>{{ key }}: {{ setting }}</div>
  {% endif %}
{% endfor %}
